
/* Base styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    margin: 15px;
    padding: 15px;
    background-color: blue;

}

h1 {
    color: brown;
}

li {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 0px;
}

.drag-handle {
    cursor: grab; /* Hand cursor when hovering */
}

.drag-handle:active {
    cursor: grabbing; /* Closed hand when dragging */
}

